
    <div class="profile-group">
        <div class="profile-sub-group">
        <h5>Full Name:</h5>
        <p>{{member.firstName}} {{member.lastName}}</p>
        </div>

        <div class="profile-sub-group">
            <h5>Birthday:</h5>
            <p>{{member.birthDate}}</p>
        </div>

        <div class="profile-sub-group">
            <h5>Adress:</h5>
            <p>{{member.adress}}</p>
        </div>

        <div class="profile-sub-group">
            <h5>Email:</h5>
            <p>{{member.adress}}</p>
        </div>

        <div class="profile-sub-group">
            <h5>Phone Number:</h5>
            <p>{{member.phoneNumber}}</p>
        </div>
    </div>
