<app-header></app-header>

<div class="membership-desc">
    <div data-aos="fade-up" data-aos-duration="3000" class="desc" class="wrap">
        <div>
            <h1>Personal Training for $3/session</h1>
            <h6>Train with a Coach, 3x/week</h6>
            <h5>Strength Coaching in a small group format</h5>
            <ul>
                <li>Up to 90-Minute sessions, 3x/week</li>
                <li>$3 per session, billed monthly at $39</li>
                <li>Your own rack and platform</li>
                <li>Get stronger or get a full refund</li>
            </ul>
        </div>
        <div class="desc-img">
            <img src="../../../../assets/img/membershipone.png" alt="">
        </div>
    </div>

    <div class="other-packages"  data-aos="fade-up" data-aos-duration="3000" >
        <div>
            <h2>Personal Training for $4/session</h2>
            <h6>Train with a Coach, 2x/week</h6>
            <h5>Strength Coaching in a small group format</h5>
            <ul>
                <li>Up to 90-Minute sessions, 3x/week</li>
                <li>$4 per session, billed monthly at $32</li>
                <li>Your own rack and platform</li>
                <li>Get stronger or get a full refund</li>
            </ul>
        </div>

        <div>
            <h2>Personal Training for $5/session</h2>
            <h6>Train with a Coach, 1x/week</h6>
            <h5>Strength Coaching in a small group format</h5>
            <ul>
                <li>Up to 90-Minute sessions, 3x/week</li>
                <li>$5 per session, billed monthly at $20</li>
                <li>Your own rack and platform</li>
                <li>Get stronger or get a full refund</li>
            </ul>
        </div>
    </div>

</div>


<div  data-aos="zoom-out" data-aos-duration="3000" class="training-schedule">
    <h1>Training Shedule</h1>
    <h5>
        Get a guaranteed space in the gym during your selected
         training time slot
    </h5>
    <div class="wrap">
        <div class="left">
            <h5>Monday - Wednesday - Friday</h5>
            <h6>Morning</h6>
            <ul>
                <li>5:30am</li>
                <li>7:00am</li>
            </ul>
            <h6>Midday</h6>
            <ul>
                <li>12pm</li>
            </ul>
            <h6>Evening</h6>
            <ul>
                <li>4:15pm</li>
                <li>5:45pm</li>
                <li>7:15pm</li>
            </ul>
        </div>

        <div class="right">
            <h5>Tuesday - Thursday - Saturday</h5>
            <h6>Morning</h6>
            <ul>
                <li>5:30am</li>
                <li>7:00am</li>
            </ul>
            <h6>Midday</h6>
            <ul>
                <li>12pm</li>
            </ul>
            <h6>Evening</h6>
            <ul>
                <li>4:15pm</li>
                <li>5:45pm</li>
                <li>7:15pm</li>
            </ul>
        </div>
    </div>
</div>


<app-footer></app-footer>