<app-header></app-header>

<div class="membership-desc">
    <div class="desc">
        <h1>Personal Training for $3/session</h1>
        <h6>Train with a Coach, 3x/week</h6>
        <h5>Strength Coaching in a small group format</h5>
        <ul>
            <li>Up to 90-Minute sessions, 3x/week</li>
            <li>$3 per session, billed monthly at $39</li>
            <li>Your own rack and platform</li>
            <li>Get stronger or get a full refund</li>
        </ul>
    </div>
    <div class="desc-img">
        <img src="../../../../assets/img/membershipone.png" alt="">
    </div>
</div>

<div class="training-schedule">
    <h1>Training Shedule</h1>
    <h5>
        Get a guaranteed space in the gym during your selected
         training time slot, 3x/week
    </h5>
    <img src="../../../../assets/img/schedule.png" alt="">
</div>


<app-footer></app-footer>