p{
    font-style: italic;
    color: #212322;
}
h5{
    color: #212322;
    font-weight: bold;
}

.card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 15rem;
    height: 15rem;
    padding: 3rem 1rem 3rem 1rem;
    text-align: center;
    background-color: #fff;
    opacity: 80%;
    border-radius: 10%;
}

.card-container{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

:host ::ng-deep {
    .carousel-control {
        display: none;
     }
}

@media (min-width: 359px) and (max-width: 1200px){
    .card{
        display:flex;
        align-items: center;

    }

    .card-container{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:2rem;
    }
    
}