<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; height: 100vh;">
    <a routerLink="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Dashboard</span>
    </a>
    <hr>
    <ul class="nav flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/" class="nav-link active" aria-current="page">
          Home
        </a>
      </li>
      <li>
        <a routerLink="/dashboard" class="nav-link text-white">
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-white" routerLink="add-new-member">Add New Member</a>
      </li>
    </ul>
    <hr>
    <a class="nav-link"><button type="button" class="btn btn-red" (click)="logout()">Logout</button></a>

    <app-all-members class="all-members"></app-all-members>
  </div>

  
