<app-header></app-header>

<div class="how-it-works">
    <div class="left">
        <h5>How it Works</h5>
        <h1>Full-Body Barbell Exercises</h1>
        <p>Progressively Loaded Under the Guidance of a Coach
</p>
    </div>
    <div class="right">
        <img src="../../../../assets/img/aboutone.png" alt="">
    </div>
</div>

<div class="platform-for-you">
    <div class="left">
        <img src="../../../../assets/img/abouttwo.png" alt="">
    </div>
   
    <div class="right">
        <h5>What Makes Us Different</h5>
        <h1>A Platform Reserved for You</h1>
        <p>
            No more waiting for equipment. Your personal training
             appointment includes a platform reservation with all
            of the equipment you need to perform the exercises
            that are prescribed for you.
        </p> 
    </div>
</div>

<div class="coaches">
    <div class="coach">
        <img src="../../../../assets/img/headcoach.png" alt="">
        <div class="coach-description">
            <h5>Mark Diffley</h5>
            <h6>Head Coach and Operations Manager</h6>
            <p>
                Mark Diffley has been involved in barbell coaching for
                over a decade.Mark has a master’s degree in mechanical 
                engineering and was immediately hooked by the mechanical 
                analysis and logic found in our method. Mark is a Brazilian
                jiu jitsu black belt and a former firefighter
            </p>
        </div>
    </div>

    <div class="coach">
        <img src="../../../../assets/img/coach.png" alt="">
        <div class="coach-description">
            <h5>Jeff Bernitz, Coach </h5>
            <h6>Coach</h6>
            <p>
                He started training to alleviate back pain from an 
                injury, and after the program fixed his back to got 
                him stronger than he had ever been, he began training 
                as many people with the method as would listen. 
                Jeff likes seeing people transform as they get stronger,
                especially those who never saw themselves enjoying barbell
                training.
            </p>
        </div>
    </div>
</div>



<app-footer></app-footer>