<div class="container">
    <footer class="row justify-content-sm-center row-cols-1 row-cols-sm-1 row-cols-md-5 py-5 my-5 ">
      <div class="col-sm-auto mb-3">
        <div class="col-sm-auto mb-3">
            <img src="../../../../assets/img/logo.png" alt="">
        </div>
        <p class="text-body-secondary">© 2023</p>
      </div>
  
      <div class="col mb-3">
  
      </div>
  
      <div class="col-sm-auto mb-3">
        <h5>Home</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Membership</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Login</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Sign Up</a></li>
        </ul>
      </div>
  
      <div class="col-sm-auto mb-3">
        <h5>Account</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Login</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Sign up</a></li>
        </ul>
      </div>
  
      <div class="col-sm-auto mb-3">
        <h5>Member</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Schedule training</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Profile</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Logout</a></li>
        </ul>
      </div>
    </footer>
  </div>