<app-header></app-header>

<div class="first-section">
    <div class="left">
        <h2>Get Stronger With Us</h2>
        <h1>The Most Effective Strength Training Program in Existence</h1>
        <p>Results are Guaranteed.</p>
    
        <button type="button" class="btn btn-red">Sign-up</button>
    </div>

    <div class="right">
        <img src="../../../../assets/img/firstimg.png" alt="">
    </div>

</div>

<div class="second-section">
    <div class="left">
        <img src="../../../../assets/img/secondimg.png" alt="">
    </div>

    <div class="right">
        <h2>Membership</h2>
        <h1>Personal Training on Your Own Platform</h1>
        <p>We Program Every Workout and Coach Every Rep</p>
    </div>
</div>

<div class="third-section">
    <div class="left">
        <h2>Supportive community</h2>
        <h1>Other members will help you to reach your goals faster!</h1>
        <p>Our programs are in groups of 5 to 10 people with open competitions every weekend</p>
    </div>

    <div class="right">
        <img src="../../../../assets/img/groupimg.png" alt="">
    </div>
</div>

<div class="testimonials">
    <h1>Testimonials</h1>

    <app-testimonial-card></app-testimonial-card>
</div>

<app-footer></app-footer>

