<app-header></app-header>

<div class="first-section">
    <div data-aos="zoom-in" data-aos-duration="3000"  class="wrap">
        <div class="left">
            <h2>Get Stronger With Us</h2>
            <h1>The Most Effective Strength Training Program in Existence</h1>
            <p>Results are Guaranteed.</p>
        
           <a routerLink="/register" *ngIf="!isLogged"> <button type="button" class="btn btn-red">Join Us Today!</button></a>
        </div>

        <div class="right">
            <img src="../../../../assets/img/smile.jpg" alt="">
        </div>

    </div>
</div>
<div class="second-section">
    <div data-aos="fade-right" data-aos-duration="3000" class="left">
        <img src="../../../../assets/img/secondimg.png" alt="">
    </div>

    <div data-aos="fade-left" data-aos-duration="3000"  class="right">
        <h2>Membership</h2>
        <h1>Personal Training on Your Own Platform</h1>
        <p>We Program Every Workout and Coach Every Rep</p>
    </div>
</div>

<div class="third-section">
    <div data-aos="fade-right" data-aos-duration="3000" class="left">
        <h2>Supportive community</h2>
        <h1>Other members will help you to reach your goals faster!</h1>
        <p>Our programs are in groups of 5 to 10 people with open competitions every weekend</p>
    </div>

    <div data-aos="fade-left" data-aos-duration="3000" class="right">
        <img src="../../../../assets/img/groupimg.png" alt="">
    </div>
</div>

<div  class="testimonials">
    <h1 data-aos="fade-down" data-aos-duration="3000">Testimonials</h1>

    <app-testimonial-card data-aos="fade-up" data-aos-duration="3000"></app-testimonial-card>
</div>

<app-footer></app-footer>

