<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img class="logo" src="../../../../assets/img/logo.png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto  mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <a class="nav-link" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/membership">Membership</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" *ngIf="isAdmin">Admin</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/schedule-workout">Schedule Workout</a>
        </li>
      
        
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0"  *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login"><button type="button" class="btn btn-outline me-3">Login</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register"> <button type="button" class="btn btn-red">Sign-up</button></a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" *ngIf="isLoggedIn">
        <li class="nav-item">  Welcome Back {{username}}</li>
        <li class="nav-item">
          <a class="nav-link"> <button type="button" class="btn btn-red" (click)="logout()">Logout</button></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

 

  <!-- <div class="col-md-3 mb-2 mb-md-0">
    <a routerLink="/"><img src="../../../../assets/img/logo.png" alt=""></a>
 </div>
 <button class="navbar-toggler" type="button" data-bs-toggle="collapse">
     <span class="navbar-toggler-icon"></span>
   </button>
 <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
   <li><a routerLink="/" class="nav-link px-2">Home</a></li>
   <li><a routerLink="/about" class="nav-link px-2">About</a></li>
   <li><a routerLink="/membership" class="nav-link px-2">Membership</a></li>
 </ul>

 <div class="col-md-3 text-end">
   <button type="button" class="btn btn-outline me-2">Login</button>
   <button type="button" class="btn btn-red">Sign-up</button>
 </div> -->