.logo{
    height: 4.5rem;
}

.nav-link{
    color: #212322;
    font-weight: 700;

}

.btn-outline{
    color: #212322;
    border-color: #212322;
    font-weight: 700;
}

.btn-red{

    background-color: #EB404A;
    color: #fff;
    font-weight: 700;
}

